##igtignore this file##
/.vs/
/Coldairarrow.Business/bin/
/Coldairarrow.Business/obj/
/Coldairarrow.Console/bin/
/Coldairarrow.Console/obj/
/Coldairarrow.DataRepository/bin/
/Coldairarrow.DataRepository/obj/
/Coldairarrow.Entity/bin/
/Coldairarrow.Entity/obj/
/Coldairarrow.UnitTests/bin/
/Coldairarrow.UnitTests/obj/
/Coldairarrow.Util/bin/
/Coldairarrow.Util/obj/
/Coldairarrow.Web/bin/
/Coldairarrow.Web/obj/
/.idea/
